.hero {
  position: relative;
  height: 10.6rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0.3rem;
  color: white;
}

.hero_image {
  z-index: -1;
  object-fit: cover;
  filter: brightness(0.5); /* reemplaza tu rgba */
}

.hero__title {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Jomolhari', serif;
  letter-spacing: 2px;
  margin-top: 0.9rem;
}

@media (min-width: 1024px) {
  .hero {
    padding: 0rem 1.75rem;
    height: 19.75rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }
}