.product-detail {
  padding: 0rem 0.3rem;
}

.product-detail__content {
  grid-column: span 4;
}

.product-card__image-wrapper {
  width: 100%;
  height: 15rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
  grid-column: span 4;
}

.product-detail__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-detail__title {
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: 'Jomolhari', serif;
  font-weight: 200;
  margin-bottom: 0.8rem;
  grid-column: span 4;
}

.product-detail__price {
  font-size: 1.25rem;
  font-weight: 200;
  margin-bottom: 1.75rem;
  grid-column: span 4;
}

.product-detail__description {
  font-family: Arimo, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1.75rem;
  grid-column: span 4;
}

@media (min-width: 1024px) {
  .product-detail {
    padding: 1.8rem 5rem;
  }

  .product-card__image-wrapper {
    grid-column: span 7;
    height: 32.5rem;
  }

  .product-detail__title {
    grid-column: span 5;
    font-size: 2rem;
  }
}