.product-card {
  background: white;
  overflow: hidden;
  grid-column: span 2;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-color: var(--primary-color);
}

.product-card__image-wrapper {
  width: 100%;
  height: 8.75rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}

.product-card__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.8;
  font-family: 'Jomolhari', serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.product-card__price {
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .product-card {
    grid-column: span 3;
  }

  .product-card__title {
    font-size: 1rem;
  }

  .product-card__image-wrapper {
    height: 15.18rem;
  }
}